<!-- Load Component level Client Library -->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
		data-sly-call="${clientlib.all@categories='clientlib.weather'}" />

<!--  Define Authorable Headline -->
<h1 data-sly-test="${properties.title}" class="headline">
	${properties.title @ context='html'}
</h1>

<br/><br/>

<!-- i18n labels -->
<div class="location">
	${'Please type in location to view Weather Information' @ i18n}	
	<input type=text" class="location-name" /> &nbsp;&nbsp;
	<input type="button" id="fetch-weather-info" value="${'Search' @ i18n}"/>
</div>

<!--  Display Status Message in this Div -->
<div class="status-div"></div>

<!-- Display Weather Information from External API -->
<div class="weather-info"></div>
